/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	max-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	background: #eee;
}
@media (prefers-color-scheme: dark) {
	body {
		background: #444;
	}
}

:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 21px;

	--spin-time: 1s;
	--spinner-width: min(80vw, 60vh);
	--spinner-radius: min(40vw, 30vh);

	--cos-1-2: 1;
	--cos-2-2: -1;
	--sin-1-2: 0;
	--sin-2-2: 0;
	--cos-1-3: 1;
	--cos-2-3: -0.5;
	--cos-3-3: -0.5;
	--sin-1-3: 0;
	--sin-2-3: 0.867;
	--sin-3-3: -0.867;
	--cos-1-4: 1;
	--cos-2-4: 0;
	--cos-3-4: -1;
	--cos-4-4: 0;
	--sin-1-4: 0;
	--sin-2-4: 1;
	--sin-3-4: 0;
	--sin-4-4: -1;
	--cos-1-5: 1;
	--cos-2-5: 0.309;
	--cos-3-5: -0.809;
	--cos-4-5: -0.809;
	--cos-5-5: 0.309;
	--sin-1-5: 0;
	--sin-2-5: 0.951;
	--sin-3-5: 0.588;
	--sin-4-5: -0.588;
	--sin-5-5: -0.951;
	--cos-1-6: 1;
	--cos-2-6: 0.5;
	--cos-3-6: -0.5;
	--cos-4-6: -1;
	--cos-5-6: -0.5;
	--cos-6-6: 0.5;
	--sin-1-6: 0;
	--sin-2-6: 0.867;
	--sin-3-6: 0.867;
	--sin-4-6: 0;
	--sin-5-6: -0.867;
	--sin-6-6: -0.867;
	--cos-1-7: 1;
	--sin-1-7: 0;
	--cos-2-7: 0.623;
	--sin-2-7: 0.782;
	--cos-3-7: -0.223;
	--sin-3-7: 0.975;
	--cos-4-7: -0.901;
	--sin-4-7: 0.434;
	--cos-5-7: -0.901;
	--sin-5-7: -0.434;
	--cos-6-7: -0.223;
	--sin-6-7: -0.975;
	--cos-7-7: 0.623;
	--sin-7-7: -0.782;
	--cos-1-8: 1;
	--sin-1-8: 0;
	--cos-2-8: 0.707;
	--sin-2-8: 0.707;
	--cos-3-8: 0;
	--sin-3-8: 1;
	--cos-4-8: -0.707;
	--sin-4-8: 0.707;
	--cos-5-8: -1;
	--sin-5-8: 0;
	--cos-6-8: -0.707;
	--sin-6-8: -0.707;
	--cos-7-8: 0;
	--sin-7-8: -1;
	--cos-8-8: 0.707;
	--sin-8-8: -0.707;
	--cos-1-9: 1;
	--sin-1-9: 0;
	--cos-2-9: 0.766;
	--sin-2-9: 0.643;
	--cos-3-9: 0.174;
	--sin-3-9: 0.985;
	--cos-4-9: -0.5;
	--sin-4-9: 0.866;
	--cos-5-9: -0.94;
	--sin-5-9: 0.342;
	--cos-6-9: -0.94;
	--sin-6-9: -0.342;
	--cos-7-9: -0.5;
	--sin-7-9: -0.866;
	--cos-8-9: 0.174;
	--sin-8-9: -0.985;
	--cos-9-9: 0.766;
	--sin-9-9: -0.643;
	--cos-1-10: 1;
	--sin-1-10: 0;
	--cos-2-10: 0.809;
	--sin-2-10: 0.588;
	--cos-3-10: 0.309;
	--sin-3-10: 0.951;
	--cos-4-10: -0.309;
	--sin-4-10: 0.951;
	--cos-5-10: -0.809;
	--sin-5-10: 0.588;
	--cos-6-10: -1;
	--sin-6-10: 0;
	--cos-7-10: -0.809;
	--sin-7-10: -0.588;
	--cos-8-10: -0.309;
	--sin-8-10: -0.951;
	--cos-9-10: 0.309;
	--sin-9-10: -0.951;
	--cos-10-10: 0.809;
	--sin-10-10: -0.588;
}

@for $n from 2 to 10 {
	@for $i from 1 to $n {
		.position-$(i)-$(n) {
			transform: translate(
					calc(var(--spinner-radius) * var(--sin-$(i)-$(n))),
					calc(var(--spinner-radius) * var(--cos-$(i)-$(n)) * -1)
				)
				translate(calc(-50% * var(--sin-$(i)-$(n))), calc(50% * var(--cos-$(i)-$(n))));
		}
		.rotate-$(i)-$(n) {
			--rotate-angle: calc(1turn * ($(n) - $(i) + 1) / $(n));
		}
	}
}

.background-2 {
	background: conic-gradient(
		hsla(0deg, 100%, 50%, 0.5) 90deg,
		hsla(180deg, 100%, 50%, 0.5) 90deg,
		hsla(180deg, 100%, 50%, 0.5) 270deg,
		hsla(0deg, 100%, 50%, 0.5) 270deg
	);
}
.background-3 {
	background: conic-gradient(
		hsla(0deg, 100%, 50%, 0.5) 60deg,
		hsla(120deg, 100%, 50%, 0.5) 60deg,
		hsla(120deg, 100%, 50%, 0.5) 180deg,
		hsla(240deg, 100%, 50%, 0.5) 180deg,
		hsla(240deg, 100%, 50%, 0.5) 300deg,
		hsla(0deg, 100%, 50%, 0.5) 300deg
	);
}
.background-4 {
	background: conic-gradient(
		hsla(0deg, 100%, 50%, 0.5) 45deg,
		hsla(90deg, 100%, 50%, 0.5) 45deg,
		hsla(90deg, 100%, 50%, 0.5) 135deg,
		hsla(180deg, 100%, 50%, 0.5) 135deg,
		hsla(180deg, 100%, 50%, 0.5) 225deg,
		hsla(270deg, 100%, 50%, 0.5) 225deg,
		hsla(270deg, 100%, 50%, 0.5) 315deg,
		hsla(0deg, 100%, 50%, 0.5) 315deg
	);
}
.background-5 {
	background: conic-gradient(
		hsla(0deg, 100%, 50%, 0.5) 36deg,
		hsla(72deg, 100%, 50%, 0.5) 36deg,
		hsla(72deg, 100%, 50%, 0.5) 108deg,
		hsla(144deg, 100%, 50%, 0.5) 108deg,
		hsla(144deg, 100%, 50%, 0.5) 180deg,
		hsla(216deg, 100%, 50%, 0.5) 180deg,
		hsla(216deg, 100%, 50%, 0.5) 252deg,
		hsla(288deg, 100%, 50%, 0.5) 252deg,
		hsla(288deg, 100%, 50%, 0.5) 324deg,
		hsla(0deg, 100%, 50%, 0.5) 324deg
	);
}
.background-6 {
	background: conic-gradient(
		hsla(0deg, 100%, 50%, 0.5) 30deg,
		hsla(60deg, 100%, 50%, 0.5) 30deg,
		hsla(60deg, 100%, 50%, 0.5) 90deg,
		hsla(120deg, 100%, 50%, 0.5) 90deg,
		hsla(120deg, 100%, 50%, 0.5) 150deg,
		hsla(180deg, 100%, 50%, 0.5) 150deg,
		hsla(180deg, 100%, 50%, 0.5) 210deg,
		hsla(240deg, 100%, 50%, 0.5) 210deg,
		hsla(240deg, 100%, 50%, 0.5) 270deg,
		hsla(300deg, 100%, 50%, 0.5) 270deg,
		hsla(300deg, 100%, 50%, 0.5) 330deg,
		hsla(0deg, 100%, 50%, 0.5) 330deg
	);
}
.background-7 {
	background: conic-gradient(
		hsla(0deg, 100%, 50%, 0.5) 25deg,
		hsla(51deg, 100%, 50%, 0.5) 25deg,
		hsla(51deg, 100%, 50%, 0.5) 77deg,
		hsla(102deg, 100%, 50%, 0.5) 77deg,
		hsla(102deg, 100%, 50%, 0.5) 128deg,
		hsla(154deg, 100%, 50%, 0.5) 128deg,
		hsla(154deg, 100%, 50%, 0.5) 180deg,
		hsla(205deg, 100%, 50%, 0.5) 180deg,
		hsla(205deg, 100%, 50%, 0.5) 231deg,
		hsla(257deg, 100%, 50%, 0.5) 231deg,
		hsla(257deg, 100%, 50%, 0.5) 283deg,
		hsla(308deg, 100%, 50%, 0.5) 283deg,
		hsla(308deg, 100%, 50%, 0.5) 334deg,
		hsla(0deg, 100%, 50%, 0.5) 334deg
	);
}
.background-8 {
	background: conic-gradient(
		hsla(0deg, 100%, 50%, 0.5) 22.5deg,
		hsla(45deg, 100%, 50%, 0.5) 22.5deg,
		hsla(45deg, 100%, 50%, 0.5) 67.5deg,
		hsla(90deg, 100%, 50%, 0.5) 67.5deg,
		hsla(90deg, 100%, 50%, 0.5) 112.5deg,
		hsla(135deg, 100%, 50%, 0.5) 112.5deg,
		hsla(135deg, 100%, 50%, 0.5) 157.5deg,
		hsla(180deg, 100%, 50%, 0.5) 157.5deg,
		hsla(180deg, 100%, 50%, 0.5) 202.5deg,
		hsla(225deg, 100%, 50%, 0.5) 202.5deg,
		hsla(225deg, 100%, 50%, 0.5) 247.5deg,
		hsla(270deg, 100%, 50%, 0.5) 247.5deg,
		hsla(270deg, 100%, 50%, 0.5) 292.5deg,
		hsla(315deg, 100%, 50%, 0.5) 292.5deg,
		hsla(315deg, 100%, 50%, 0.5) 337.5deg,
		hsla(0deg, 100%, 50%, 0.5) 337.5deg
	);
}
.background-9 {
	background: conic-gradient(
		hsla(0deg, 100%, 50%, 0.5) 20deg,
		hsla(40deg, 100%, 50%, 0.5) 20deg,
		hsla(40deg, 100%, 50%, 0.5) 60deg,
		hsla(80deg, 100%, 50%, 0.5) 60deg,
		hsla(80deg, 100%, 50%, 0.5) 100deg,
		hsla(120deg, 100%, 50%, 0.5) 100deg,
		hsla(120deg, 100%, 50%, 0.5) 140deg,
		hsla(160deg, 100%, 50%, 0.5) 140deg,
		hsla(160deg, 100%, 50%, 0.5) 180deg,
		hsla(200deg, 100%, 50%, 0.5) 180deg,
		hsla(200deg, 100%, 50%, 0.5) 220deg,
		hsla(240deg, 100%, 50%, 0.5) 220deg,
		hsla(240deg, 100%, 50%, 0.5) 260deg,
		hsla(280deg, 100%, 50%, 0.5) 260deg,
		hsla(280deg, 100%, 50%, 0.5) 300deg,
		hsla(320deg, 100%, 50%, 0.5) 300deg,
		hsla(320deg, 100%, 50%, 0.5) 340deg,
		hsla(0deg, 100%, 50%, 0.5) 340deg
	);
}
.background-10 {
	background: conic-gradient(
		hsla(0deg, 100%, 50%, 0.5) 18deg,
		hsla(36deg, 100%, 50%, 0.5) 18deg,
		hsla(36deg, 100%, 50%, 0.5) 54deg,
		hsla(72deg, 100%, 50%, 0.5) 54deg,
		hsla(72deg, 100%, 50%, 0.5) 90deg,
		hsla(108deg, 100%, 50%, 0.5) 90deg,
		hsla(108deg, 100%, 50%, 0.5) 126deg,
		hsla(144deg, 100%, 50%, 0.5) 126deg,
		hsla(144deg, 100%, 50%, 0.5) 162deg,
		hsla(180deg, 100%, 50%, 0.5) 162deg,
		hsla(180deg, 100%, 50%, 0.5) 198deg,
		hsla(216deg, 100%, 50%, 0.5) 198deg,
		hsla(216deg, 100%, 50%, 0.5) 234deg,
		hsla(252deg, 100%, 50%, 0.5) 234deg,
		hsla(252deg, 100%, 50%, 0.5) 270deg,
		hsla(288deg, 100%, 50%, 0.5) 270deg,
		hsla(288deg, 100%, 50%, 0.5) 306deg,
		hsla(324deg, 100%, 50%, 0.5) 306deg,
		hsla(324deg, 100%, 50%, 0.5) 342deg,
		hsla(0deg, 100%, 50%, 0.5) 342deg
	);
}

.spinner-button {
	@apply inline-flex flex-shrink-0 cursor-pointer select-none flex-wrap items-center justify-center border-transparent text-center transition duration-200 ease-in-out rounded-btn;
	@apply h-12 px-4 text-sm min-h-12;
	@apply font-semibold uppercase no-underline;
	line-height: 1em;
}
.spinner-button:hover {
	@apply border-primary-focus bg-primary-focus;
}
